.main-container {
    display: flex;
    justify-content: center;
}

.phone-detail-container {
    padding: 40px;
    margin-top: 140px;
    width: 400px;
    border: 10px solid #000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.phone-detail-image {
    width: 300px;
    margin-bottom: 40px;
}

.phone-model {
    color: #202226;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.phone-details {
    color: #202226;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}